<div class="container">
  <div class="row">
    <div class="title">
      <h1>Testing Mat</h1>
      <h2>Daniela Espinosa Rojas</h2>
    </div>
    <div class="operation">
      <h3>Operaciones</h3>
      <div class="opciones-menu">
        <Button class="menu a1-button" (click)="navigateTo('a1')"><p>1a</p></Button>
        <Button class="menu a2-button" (click)="navigateTo('a2')"><p>2a</p></Button>
        <Button class="menu a3-button" (click)="navigateTo('a3')"><p>3a</p></Button>
      </div>
    </div>
  </div>
</div>
