.container {
    margin: 10;
    padding: 10;
    height: 100%;
  }
  
  .row {
    height: 100%;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10;
    white-space: nowrap;
    gap: 25%;
  }
  .opciones{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
  
  }
  .menu {
    border-radius: 3.841px;
    border: 0.96px solid #bdbdbd;
    width: 100px;
    background: #fff;
    text-align: left;
  }
  
  
  .calculo{
    border-style: dashed;
  }