/* You can add global styles to this file, and also import other style files */
* {
  background-color: #fcd4fd;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 65px;
}

h2 {
  font-weight: lighter;

  font-size: 40px;
}

h3 {
  font-size: 25px;
  background-color: transparent;
  font-weight: lighter;
  margin-left: 35px;
}

h4 {
    font-size: 25px;
    background-color: transparent;
    font-weight: lighter;
    margin: 0;
  }
  
p {
  font-size: 25px;
  background-color: transparent;
  font-weight: lighter;
}

.container {
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.row {
  width: 90%;

  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.row-option {
  width: 90%;

  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.title {
  width: 50%;
  text-align: left;
  margin-top: 5%;
}

.operation {
  width: 55%;
  height: auto;
  border: 1px dashed grey;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  border-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 5px,
      black 4px,
      black 12px
    )
    1;
  padding: 25px;
  gap: 30px;
  margin-bottom: 10%;
}

.opciones {
  display: flex;
  padding: 3.841px 12.363px 11.522px 12.363px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  border: 0.96px solid #bdbdbd;
  background: #fff;
  width: 45%;
  height: 50px;
}


.opciones-menu{
  display: flex;
  padding: 3.841px 12.363px 11.522px 12.363px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  border: 0.96px solid #bdbdbd;
  background: #fff;
  width: 45%;
  /* height: 50px; */
}

.resultados {
    display: flex;
    padding: 3.841px 12.363px 11.522px 12.363px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    border: 0.96px solid #bdbdbd;
    background: #fff;
    width: 90%;
    height: 50px;
  }
.send-button {
  width: 200px;
  flex-direction: column;
  align-items: center;
  align-items: center;
  margin-top: 0;
  height: 67px;
  border-radius: 10px;
  border: 0.96px solid #bdbdbd;
  background: #fff;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 10px; */
  width: 100%;
  background-color: #fff;
  border: 0;
  border-bottom: #bdbdbd solid 1px;
  font-size: 25px;
}
input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 10px; */
  width: 100%;
  background-color: #fff;
  border: 0;
  border-bottom: #bdbdbd solid 1px;
  font-size: 25px; /* Set the font size to 25px */
  text-size-adjust: 25px;
}

.text-button {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.682px;
  width: 100%;
}
